<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings></appSettings>
  <system.web>
    <compilation targetFramework="4.8" />
    <authentication mode="Forms">
      <forms loginUrl="~/login.aspx" timeout="30" />
    </authentication>
    <machineKey validationKey="AABBCCDDEEFF00112233445566778899AABBCCDDEEFF00112233445566778899" decryptionKey="11223344556677889900AABBCCDDEEFF1122334455667788" validation="SHA1" decryption="AES" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="HealthHandler" path="health.ashx" verb="*" type="Health.Handlers.HealthHandler" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <location path="health.ashx">
    <system.web>
      <authorization>
        <allow users="*" /> </authorization>
    </system.web>
  </location>
</configuration>
<!--ProjectGuid: 8371CAB5-57D6-4087-BC6A-7E3514CE52C2-->